/* Градиентный фон для всей страницы */
body {
    background: linear-gradient(to bottom, #3494E6, #EC6EAD);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  
  /* Стили для контейнера */
  .Container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* styles.css */

/* Градиентный фон для всей страницы */
body {
    background: linear-gradient(to bottom, #3494E6, #EC6EAD);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  
  /* Стили для контейнера страницы */
  .device-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Стили для названия устройства */
  .device-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Стили для контейнера рейтинга */
  .rating-container {
    width: 240px;
    height: 240px;
    background-size: cover;
    font-size: 64px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid lightgray;
    background-color: #f4f4f4; /* Цвет фона рейтинга */
    border-radius: 50%; /* Круглая форма */
  }
  
  /* Стили для рейтинга */
  .rating {
    color: #ffcc00; /* Цвет рейтинга */
  }
  
  /* Стили для ценовой карточки */
  .price-card {
    width: 300px;
    height: 150px;
    font-size: 32px;
    border: 5px solid rgba(211, 211, 211, 0.266);
  }
  
  /* Стили для строк характеристик */
  .info-row-light {
    background: lightgray;
    padding: 10px;
  }
  
  .info-row-dark {
    background: transparent;
    padding: 10px;
  }

  /* styles.css */

/* Градиентный фон для всей страницы */
body {
    background: linear-gradient(to bottom, #3494E6, #EC6EAD);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  
  /* Стили для контейнера */
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Стили для карточки */
  .auth-card {
    width: 600px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Стили для заголовка */
  .auth-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  /* Стили для формы */
  .auth-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Стили для входных полей */
  .auth-input {
    margin-top: 0.5rem;
  }
  
  /* Стили для строки с ссылкой и кнопкой */
  .auth-link-button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
  }
  
  /* Стили для ссылки и кнопки */
  .auth-link-button-row a {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
  }
  
  .auth-link-button-row button {
    background: #28a745;
    border-color: #28a745;
    color: #fff;
  }
  
  /* styles.css */

/* Стили для контейнера */
.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
  }
  
  /* Стили для заголовка */
  .admin-header {
    background: #a77f28;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  
  .admin-header h2 {
    color: #fff;
  }
  
  /* Стили для кнопок */
  .admin-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .admin-button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
/* Градиентный фон для модального окна */
.create-brand-modal {
    background: linear-gradient(to bottom, #3494E6, #EC6EAD);
    background-attachment: fixed;
  }
  
  /* Стили для заголовка модального окна */
  .modal-title {
    color: #fff;
  }
  
  /* Стили для формы внутри модального окна */
  .modal-body {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
  }
  
  /* Стили для кнопок в нижней части модального окна */
  .modal-footer {
    justify-content: space-between;
  }

  /* Стили для заголовка модального окна */
.modal-title {
    color: #464646; 
  }

  /* styles.css */

/* Стили для корзины */
.basket {
    background: linear-gradient(to bottom, #3494E6, #EC6EAD);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
  
  /* Стили для товаров в корзине */
  .basket-item {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  /* Стили для кнопок в корзине */
  .basket-button {
    background: #28a745;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  /* Стили для общей стоимости */
  .total-price {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  .custom-navbar {
    background: linear-gradient(to right, #0076b4, #00a99d);
    color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand-link {
    color: white;
    text-decoration: none;
    font-size: large;
}

.navbar-brand-link:hover {
    color:  #00a99d;
    text-decoration: none;
    font-size: large;
    
}

.device-price{
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    font-size: 24px;
}
  
  